<div class="container top" id="sticker">
    <h2>Check Others</h2><br>
    <% if (message) { %>
      <div class="alert alert-danger">
        <%= message %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% } %>
    <div style="position: relative;">
    <form action="/check" method="POST">
      <div style="display: flex; flex-direction: column; align-items: flex-start; margin-left: 20px;">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
      <br><br>
      </div>
      <button class="button" id="black" type="button" onclick="cancel()">Cancel</button>
      <button class="button" type="submit">OK</button>
    </form>
  </div>
  </div>
  <script>
    function cancel() {
      window.location.href = "/home";
    }
  </script>
