<div class="container top" id="sticker">
<h2>Add Item</h2><br>
<form action="/create" method="POST" enctype="multipart/form-data">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>
    <br><br>
    <label for="quantity">Quantity</label>
    <input type="number" id="quantity" name="quantity" required>
    <br><br>
    <label for="image">Image:</label>
    <input type="file" id="image" name="image">
    <br><br>
    <button type="button" onclick="cancel()">Cancel</button>
    <button type="submit">OK</button>
</form>
</div>
<script>
  function cancel() {
    window.location.href = "/home";
  }
</script>

