<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/style.css" rel="stylesheet">
  <title>Shopping List</title>
</head>
<body>
  <div class="container top" id="sticker">
    <h1>Shopping List</h1><br><br>
    <div>
      <a href="/login" class="button">Log in</a>
      <a href="/signup" id="palegreen" class="button">Sign Up</a>
    </div>
  </div>
</body>
</html>