body {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-family: "Comic Sans MS";
    background-image: linear-gradient(90deg, transparent 0%, transparent 50%, #fff 50%, #fff 100%),
                    linear-gradient(180deg, #ccc 1px, transparent 1px);
    background-size: 8px 100%,
                   100% 2.5em;
    line-height: 1.5em;
    padding-bottom: 1px;
}
h2 {
    margin-bottom: 20px;
}

a {
    text-decoration:none; 
}

.container {
    text-align: center;
    font-size: 14px;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
.container.top a.button {
    margin-top: 10px;
  }

.button {
    width: 100px;
    height: 40px;
    display: inline-block;
    margin: 5px;
    padding: 5px 5px;
    background-color: white;
    border: 1px solid #9d9d9d;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    font-size: 12px;
    cursor: pointer;
}

#black {
    color: rgb(36, 36, 36);
    border: 1px solid #9d9d9d;
    background-color: #9d9d9d;
}

#palevioletred {
    color: black;
    background-color: rgb(255, 86, 142);
}

.button:hover {
    background-color: palegreen;
}

.item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item-list li {
    margin: 15px;
    padding: 10px;
    list-style: none;
    background-color: white;
}

.item-list li img {
    transform: rotate(2deg);
    transform-origin: center;
    box-shadow: 0 .5rem .5rem hsla(0, 0%, 0%, .1);
  }

.tape-image {
    position: absolute;
    top: -4%;
    left: 42%;
    z-index: 1;
  }

#sticker {
    flex: 0 0 450px;
    height: 450px;
    background-color: rgb(255, 246, 144);
    background-image:
    radial-gradient(#8f8f8f 4%, transparent 4%);
    background-size: 30px 30px;
    box-shadow: 0 .5rem .5rem hsla(0, 0%, 0%, .1);
}

  