<a class="button" id="palevioletred" href='/create' style="position: fixed; top: 100px; left: 10px;">Add My Item</a>
<a class="button" id="white" href='/check' style="position: fixed; top: 150px; left: 10px;">Check Other</a>
<a class="button" id="white" href='/home' style="position: fixed; top: 200px; left: 10px;">Back Home</a>
<a class="button" href='/logout' style="position: fixed; top: 250px; left: 10px;">Log out</a>
